body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    font-size: 40px;
}
.orange-color{
    color: #ffa500;
}
section{
    display: flex;
}
.top-banner{
    background-image: url("img/top-banner.png");
    background-repeat: no-repeat;
}
.half-width{
    width: 50%;
    padding-left: 50px;
}
.half-width img{
    width: 80%;
    padding-left: 2%;
}
.desc{
    font-weight: 900;
    text-align: justify;
}
.hire-me{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 900;
    background-image: linear-gradient(orange, tomato);
    padding: 15px 30px;
    border-radius: 15px;
    margin-top: 30px;
}
.third{
    margin-left: 3%;
}
.parent{
    display: flex;
    margin-top: 100px;
}
.ch{
    background-image: linear-gradient(rgba(28, 252, 177, 0.692), rgba(3, 148, 158, 0.438));
    border-left: 8px solid blue;
    border-radius: 3%;
    padding: 5%;
    margin: 30px;
}
.ch p{
    font-size: 15px;
    font-weight: 600;
    text-align: justify;
}
footer div{
    height: auto;
    width: auto;
    background-color: rgb(73, 72, 72);
}
footer p{
    text-align: center;
    font-weight: bolder;
    color: aliceblue;
}